💫💫CONGRATULATIONS [[USER'S FIRST NAMR]] @%%USERNAME%% your feature with #snap_%%PAGENAME%% today!!!.🏆
😍 Thank you for sharing this, [[PERSONALIZED MESSAGE]] 👌👌👌👌
Keep tagging #snap_%%PAGENAME%% for a chance of more features💫💫
