✨✨ CONGRATULATIONS!!! ✨✨
@%%USERNAME%%: You have been featured with @snap_%%PAGENAME%%. ✨🏆
[[PERSONALIZED MESSAGE]]
Thank you for sharing this amazing shot with us, keep tagging #snap_%%PAGENAME%% for a chance of more features.
