🌟 You have been featured @%%USERNAME%% 👏
🌟 Huge congratulations on your beautiful feature with @snap_%%PAGENAME%% ✨
💕 Thank you very much for sharing your photo artworks with our community! 🙏
🌟 Keep tagging #snap_%%PAGENAME%% for a chance of more features. 💕
