🌟 You have been featured @%%USERNAME%% 👏
🌟 Huge congratulations on your first feature here at @snap_%%PAGENAME%% ✨
💕 Thank you for tagging this great picture with #snap_%%PAGENAME%%  🙏
🌟 Keep tagging #snap_%%PAGENAME%% for a chance of more features. 💕
