✨✨ SPECIAL CONGRATULATIONS!!! ✨✨
🏆 You have been featured @%%USERNAME%% as the monthly featured artist 🏆
⏱️ We chose this photo as an incredible example of your amazing long exposure work ⏱️
[[PERSONALIZED MESSAGE]]
💕 📣 Thanks for tagging this great picture with #snap_%%PAGENAME%% 📣 💕
