✨✨Congratulations [[USER'S FIRST NAME]] @%%USERNAME%% on your first feature with @snap_%%PAGENAME%% today! ✨✨. Love this amazing shot ! Thanks for sharing your photo with us and tagging @snap_%%PAGENAME%%  ✨📱✨
