🌟Hello [[USER'S FIRST NAME]] @%%USERNAME%% it’s [[YOUR FIRST NAME]] @%%YOURNAME%% here🙋🏽‍♀️ [[PERSONALIZED MESSAGE]] 🥰 ☀️❤️ Thank you for tagging us this beauty, I’m delighted to see you on @snap_%%PAGENAME%% Biggest congratulations and a great [[YEAR]] to you!🎆🎊🌟