🎆🎉 @%%USERNAME%% ⭐️ [[PERSONALIZED MESSAGE]] ⭐️ Congratulations on your feature with @snap_%%PAGENAME%% today, and thank you for tagging us in this brilliant capture. ✨ Please follow us on @snap_%%PAGENAME%% if you haven't already done so and use the hashtag #snap_%%PAGENAME%% in this type of photograph for a chance of more features. ✨🎉🎆🎊
