✨✨CONGRATULATIONS!!! ✨
[[USER'S FIRST NAME]]! Welcome to #snap_reflection!  Big Congratulations on a perfect reflection as your first feature in this gallery!
[[PERSONALIZED MESSAGE]]
Continue sharing with us using the hashtag, so we won't miss any of your updates @%%USERNAME%%! Cheers!
✨✨
