DirectoryIndex default.html default.htm index.php index.shtml index.html index.htm home.html home.htm index.php5 welcome.html welcome.htm
AddHandler server-parsed .html
AddHandler server-parsed .shtml
AddHandler server-parsed .htm
<FilesMatch "\.(jsonc?)$">
    <IfModule mod_headers.c>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET,HEAD,OPTIONS"
        Header set Access-Control-Allow-Headers "Access-Control-Allow-Headers, Origin, Accept, X-Requested-With, Content-Type, Access-Control-Request-Method, Access-Control-Request-Headers"
    </IfModule>
</FilesMatch>
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /app/veroscripts/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /app/veroscripts/index.html [L]
</IfModule>
Options -Indexes
