🏆 Congratulations on your %%MEMBERLEVEL%% first feature on @snap_%%PAGENAME%%, @%%USERNAME%%
It’s wonderful to see your photo in our gallery! Thanks for sharing it with us and Keep Tagging: #snap_%%PAGENAME%%
We look forward to seeing more of your work!!
