🌟📸 [[PERSONALIZED INTRO]], [[USER'S FIRST NAME]]! [[PERSONALIZED MESSAGE]] @%%USERNAME%%  👏✨📸
Huge congratulations on your beautiful feature with @snap_%%PAGENAME%% 👏📸🌟
Thank you very much for sharing your wonderful photography with #snap_%%PAGENAME%%! 🌟📸
