✨✨CONGRATULATIONS!!! ✨
[[USER'S FIRST NAME]] @%%USERNAME%%! Welcome to @snap_%%PAGENAME%%, Big Congratulations on a perfect edit as your first feature in this gallery!
[[PERSONALIZED MESSAGE]]
Please continue sharing your beautiful photography with us using #snap_%%PAGENAME%%!
