✨ CONGRATULATIONS on your feature @%%USERNAME%% ✨
Welcome to the @snap_%%PAGENAME%% page!
Thank you for sharing your wonderful photos with our page and supporting @snap_community
Please keep on tagging #snap_%%PAGENAME%% and #snap_community for a chance to be featured!
