✨👑🏆Heartfelt congratulations, [[USER'S FIRST NAME]], @%%USERNAME%%, on your feature today with @snap_%%PAGENAME%%! 🏆👑✨
🌹🏆🌹Thank you for sharing your wonderful image, and for tagging us at #snap_%%PAGENAME%%. ✨👏😁👏✨
