✨✨ @%%PAGENAME%% ✨✨

CONGRATULATIONS!  👏👏👏

🦅 Your amazing BIF photograph has been chosen for a feature!   🦅

Why was it featured?
[{PERSONALIZED MESSAGE}]

✨BIRDS IN FLIGHT FEATURES ✨
    ✨  Featured Photographer :  @%%USERNAME%%

Selected by hub host:  @%%YOURNAME%%

🦅🦅🦅🦅🦅🦅🦅🦅🦅

Thank you for using our hashtag #BIFFeatures
Please Follow @%%PAGENAME%%

🩵🩵🩵🩵🩵🩵🩵🩵🩵

#bird #birds #BIF  #%%PAGENAME%%  #wildlife #avian

For Hub Host Use Only
#BIFFeatured_%%USERNAME%%
.
