💥🏆Heartfelt congratulations, [[USER'S FIRST NAME]], on your feature with us🏆💥! Thank you for sharing your wonderful surrealistic artwork. 🙏🏼 Please keep tagging #snap_%%PAGENAME%%  for a chance of more features! 🙋🏻🌎🌍🌏💥🚀🪐✨
